/* Body styles */
body {
  background-color: #222;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 700;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: -.08px;
    line-height: 1.5;
}
h1
{
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
header
{
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #cccccc;
  align-items: center;
  margin-bottom: 20px;
}
/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  color: #fff;
}

th:last-child, td:last-child {
  border-right: none;
}

th {
  background-color: #333;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* Button styles */
.button {
  width: 85px;
  height: 36px;
  margin-right: 6.3%;
  padding-left: 0;
  padding-right: 0;
  color: white;
  cursor: pointer;
  background-color: rgb(0, 180, 163);
  border: none;
  border-radius: 4px;
  font-family: jio-type, Arial;
  font-weight: 500;
  line-height: 1.75;
  font-size: 0.875rem;
  text-decoration: none;
}

.button:hover {
  color: blue;
}

/* Table hover effect */
tr:hover {
  background-color: #555;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Thumbnail image styles */
td img {
  max-width: 100px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
